image:
  repository: kamer-pro/backend
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

# Backend specific environment variables
env:
  # Database
  DATABASE_MAX_CONNECTIONS: "2"
  DATABASE_ACQUIRE_TIMEOUT_MS: "20000"
  MIGRATE_ON_START: "true"
  FAST_START: "false"
  SKIP_DB_WAIT: "false"
  RUN_MIGRATIONS: "true"
  SERVER_WORKERS: "2 "
  # S3 Storage
  SUPABASE_BUCKET: "images"
  S3_REGION: "eu-west-2"

# Sensitive variables should be provided via secret
secrets:
  DATABASE_URL: "postgresql://postgres.bfxkhdjgdohrziavdorf:tnarthur%40022005@aws-0-us-west-2.pooler.supabase.com:5432/postgres"
  SUPABASE_PUBLIC_URL: "https://bfxkhdjgdohrziavdorf.supabase.co"
  S3_ENDPOINT: "https://bfxkhdjgdohrziavdorf.supabase.co/storage/v1/s3"
  S3_ACCESS_KEY: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJmeGtoZGpnZG9ocnppYXZkb3JmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTc1MDk3NiwiZXhwIjoyMDg1MzI2OTc2fQ.zieW7auPyMdfgZ1e71ehGBVEO_8pmkgPKWLkUHGq9vM"
  S3_SECRET_KEY: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJmeGtoZGpnZG9ocnppYXZkb3JmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTc1MDk3NiwiZXhwIjoyMDg1MzI2OTc2fQ.zieW7auPyMdfgZ1e71ehGBVEO_8pmkgPKWLkUHGq9vM"
  JWT_SECRET: "gB0GBlpiHi6bTMHgUc60Mlc8Goo0r6tawe1s+O56bt9d5IYSILRnLbkDMlzvuhO11BT/1f9Gi76wF7Ld/dPvbg=="

knative:
  # KNative specific configurations
  minScale: "0"
  maxScale: "5"
  containerConcurrency: 0
  timeoutSeconds: 300
  # Set to true to enable KNative Service, false to use standard Deployment
  enabled: true

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi
